:root {
  --font-size: 18px;
  --color-nav-bg: #6e072d;
  --color-hover-bg: #b90e4d;
  --color-white: #ffffff;
}

body {
  background: black;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-nav-bg);
  color: var(--color-white);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

li {
  font-size: var(--font-size);
  padding: var(--font-size) calc(var(--font-size) * 1.5);
}

li:hover {
  background-color: var(--color-hover-bg);
  cursor: pointer;
}

li:not(:last-of-type) {
  border-right: 2px solid var(--color-white);
}
